body {
   font-family: 'Maven Pro', sans-serif;
   font-family: 'Cabin Condensed', sans-serif;
   font-size: 16px;
   color: #040328;
   background-color: #737373;
font-weight: normal;
background-image: url(../images/bg.jpg)}

header {
	margin: 50px 0;
}
.menu {background-color: rgba(115,115,115,0.7);
border: 0;
padding: 20px 0;
font-size: 20px;
-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
}

.menu .container {position: relative;}


.navbar-brand {
	padding-right: 50px;

}

.navbar-brand img {
    position: relative;
    top: -35px;
    width: 120px;
    height: 90px;
    margin-right: 100px;
    opacity: .8;

}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 27px;
}
.navbar-default .navbar-nav > li > a {
	color: #2b2a2a;
	text-transform: uppercase;
}

/*.navbar-default .navbar-nav > li.active-link > a*/
.navbar-default .navbar-nav > li.active-link > a {
-webkit-box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.31);
box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.31);
	color: #2b2a2a;

}
.navbar-default .navbar-nav:not(.icons) > li > a:hover {
-webkit-box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.31);
box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.31);
}
.navbar-default .navbar-nav:not(.icons) > li > a {
	padding-left: 25px;
	padding-right: 25px;
}
.globe {
	font-size: 25px;
	line-height: 50px;
	position: absolute;
	right: 20px;
	cursor: pointer;
	display: none;
}
.row .logo_sp {
	text-align: center;
	;
}
.row .logo_sp img {
	width: 350px;
	height: 280px;
    opacity: .85;
}


.slogan {
	margin-bottom: 80px;
    }
.slogan h1{
	margin: 0;
	text-align: center;
	font-size: 33px;
	color: #2b2a2a;
    }

.row p, h4{
    color: #2b2a2a;
    margin: 0;
	text-align: left;
}

.row img:not (.logo_sp){
	-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
transition: all .5s;
width: 350px;
height: 598px;
}
.row img:hover {
opacity: .8;
}

.project p{
	margin-bottom: 30px;
}

.card-row {
	margin-bottom: 50px;
}


.slogan h4{
    color: #2b2a2a;
    margin: 0;
	text-align: left;

}
.pg {
	text-align: center;
    
}
.pagination> li > a, .pagination> li > span {
	background-color: rgba(115,115,115,0.7);
	color: rgba(115,115,115,0.7);
	border: none;
} 

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #040328;
    text-decoration: none;
}

.pagination> li > a:hover {
 color: #040328;
-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
background-color: rgba(115,115,115,0.7);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	color: #2b2a2a;
	background-color: rgba(115,115,115,0.7);

}

.pagination {
	-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
transition: all .5s;
}

footer {
	margin-bottom: 100px;
}
footer hr {
	 opacity: 0.6;
	 border: 1px solid #040328;
	-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
}
footer p{
	 color: #040328;
	font-size: 12px;
}
	
/*Medium devices, Desktops */
@media only screen and (max-width: 992px) { 
  .navbar-brand {
	padding-right: 10px;
}

  .icons {
	display: none;
	position: absolute;
	right: 30px;
	top: 40px;
}
  .icons li{ 
  	float: none;
  }
  .icons li a {
  	padding: 5px;
  }

  .globe {
  	display: block;
  }
  .navbar-default .navbar-toggle:hover {
    -webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);

}
.card-row {text-align: center;}
.card-row p,h4{text-align: center;}
.card-row h4{padding-top: 30px;}
.slogan {margin-bottom: 0;}
}

/* --- */
@media only screen and (min-width: 993px) {
	.icons {
		display: block !important;
	}
} 

/*Small devices, Tablets */
@media only screen and (max-width: 767px) {
	.menu {padding: 0;}
	.icons {
		display: block !important;
		position: relative;
		right: 0;
		top: 0;
	}
	.icons li {
		display: inline-block;
	}
	.globe {
		display: none;
	}
	.navbar-brand img{
	top: -13px;
	max-height: 50px;
	max-width: 70px;
}
.navbar-default .navbar-nav > li.active-link > a {
	border-bottom: none;
	color: #000000;
	-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
}
.navbar-nav > li > a {
	transition: all .3s;
}
.navbar-default .navbar-nav:not(.icons) > li > a:hover {
	border-bottom: none;
	-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.31);
}
}


/*Extra Small devices, Tablets, Phones */
@media only screen and (max-width: 480px) {
	header,
	.slogan {
		margin-bottom: 30px;
	}
	.slogan h1 {
       font-size: 25px;
	} 
}


















